version: '3.9'

services:
  client:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - VITE_REACT_APP_API_URL=${API_URL}